/*-------------------------------------------------------------------------------------------------*/
/*  fade animations */
/*-------------------------------------------------------------------------------------------------*/

@keyframes fade_out_up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(3.375rem);
    
    }
    100% {
        transform: translateY(-67.5rem);
        opacity: 0;
    }
}

@keyframes fade_in_down {
    to {
        opacity: 0.9;
        transform: translateY(-1.25rem);
    }
}

@keyframes fade_in_9 {
    to {
        opacity: 0.9;
    }
}

@keyframes fade_in_7 {
    to {
        opacity: 0.7;
    }
}

@keyframes fade_in_5 {
    to {
        opacity: 0.5;
    }
}

/*-------------------------------------------------------------------------------------------------*/
/*  move animations  */
/*-------------------------------------------------------------------------------------------------*/

@keyframes move_up_index {
    to {
        transform: translateY(-12.5rem);
    }
}

@keyframes levitation {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(0.625rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

/*-------------------------------------------------------------------------------------------------*/
/*  miscelaneo  */
/*-------------------------------------------------------------------------------------------------*/

@keyframes open_index {
    50% {
        width: 0rem;
        height: 0.125rem;
        border-radius: 0rem;
    }
    75% {
        width: 30.375rem;
        height: 0.125rem;
        border-radius: 0rem;
    }
    100% {
        width: 30.375rem;
        height: 40.5rem;
        border-radius: 0.9375rem;
    }
}

@keyframes selectedIndex {
    to {
        color: #770909;
        font-size: 1.7rem;
    }
}

/*-------------------------------------------------------------------------------------------------*/
/*  personajes  */
/*-------------------------------------------------------------------------------------------------*/

@keyframes open_character_index {
    50% {
        width: 0rem;
        height: 0.125rem;
        border-radius: 0rem;
    }
    75% {
        width: 60.375rem;
        height: 0.125rem;
        border-radius: 0rem;
    }
    100% {
        width: 60.375rem;
        height: 50.5rem;
        border-radius: 0.9375rem;
    }
}

/*-------------------------------------------------------------------------------------------------*/