@import url("animations.css");

html {
  font-size: calc(100vw / 120); /* En 1920px: 1920/120 = 16px */
}

body {
    /*fondo*/
    background-image: url("source/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

/*-------------------------------------------------------------------------------------------------*/
    /*  inicio  */
/*-------------------------------------------------------------------------------------------------*/

#intro {
    /*ocupa toda la pantalla*/
    height: 100vh;
    margin: 0;

    /*alineamiento de elementos*/
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    /*formatos*/
    opacity: 0;
    transform: translateY(1.25rem);
    max-width: 70%;

    /*animaciones*/

    animation-name: fade_in_down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

svg {
    /*animacion*/
    animation-name: levitation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#arrows {
    /*formatos*/
    width: 4.6875rem;
    height: 4.0625rem;
}

polygon {
    /*formatos*/
    fill: #ffffff;
    opacity: 0;
    mix-blend-mode: overlay;
    transition: all 0.2s ease-out;

    /*animaciones*/
    animation-name: fade_in_9;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &.arrow_middle {
        /*animaciones*/
        animation-name: fade_in_7;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &.arrow_top {
        /*animaciones*/
        animation-name: fade_in_5;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

/*hover*/

#arrows:hover polygon {
    fill: #770909;
}

#arrows:hover .arrow_bottom {
    transform: translateY(-1.125rem);
}

#arrows:hover .arrow_top {
    transform: translateY(1.125rem);
}

/*salida*/

#intro.out {
    /*animaciones*/
    animation-name: fade_out_up;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/*-------------------------------------------------------------------------------------------------*/
    /*  indice */
/*-------------------------------------------------------------------------------------------------*/

/*  El wrapper del índice. Es necesario para centrarlo sin que las subsecuentes animaciones pisen dicha transformación.*/
#index_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bluronselection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bluronselection:hover > :not(:hover) {
    filter:blur(2px);
    opacity: 0.5;
}

#index {
    /*formatos*/
    width: 0vw; /* Será 35 */
    height: 0vh; /* Será 60 */
    background: #FFFFFB;
    opacity: 0.75;
    border-radius: 0px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);

    transform-style: preserve-3d;

    /*fuente*/
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 400;
    font-size: 1.5625rem;

    /*alineamiento de elementos*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#index_text {
    /*formatos*/
    position: absolute;
    opacity: 0;
    font-size: 2.75rem;
    letter-spacing: 0.3rem;
    font-weight: 400;
}

#index.in {
  animation: open_index 3s ease-in forwards;
}

#index_text.in {
    animation:
        fade_in_down 2s ease-in forwards,
        move_up_index 0.5s ease-in forwards 3s;
}

#index p {
    transition: all 0.5s ease-out;
}

.item:hover {
    color: #770909;
    font-size: 2rem;
}