@import url("animations.css");

body {
    background-image: url("res/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

polygon {
  fill: #fff;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: fadeIn 2s ease-in-out forwards;
  transition: all .2s ease-out;
    
    &.middle_arrow {
	  opacity: 0;
      animation: fadeIn2 2s ease-in-out forwards;
	}

	&.top_arrow {
	  opacity: 0;
      animation: fadeIn3 2s ease-in-out forwards;
	}
	 
}

svg {
    animation: bajarBoton 4s ease-in-out infinite;
}

#intro {
    height: 100vh;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#indice {
  position: absolute; /* Lo saca del flujo normal */
  top: 50%; /* Coloca el div a la mitad de la altura */
  left: 50%; /* Coloca el div a la mitad del ancho */
  transform: translate(-50%, -50%); /* Ajusta el div para que quede perfectamente centrado */
  background: #FFFFFB;
  border-radius: 0px;
  width: 0vw; /* 35 */
  height: 0vh; /* 60 */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  mix-blend-mode: add;
  opacity: 0.75;
  font-family: "Noto Serif Dives Akuru", serif;
  font-weight: 400;
  font-size: 25px;
}

#arrows {
    width: 75px;
    height: 65px;
}

#indice.clicked {
  animation: abrirIndice 3s ease-in forwards;
}

#text {
  opacity: 0;
  font-size: 30px;
}

#text.iniciado {
  animation:
    fadeIn 2s ease-in forwards,
    apartado 0.5s ease-in forwards 2s; /* Empieza cuando termina fadeIn */
}

#intro.clicked {
  animation: fadeOutUp 1s ease-in forwards;
}

.fade_intro {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    max-width: 80%;
}

/* animacion de flechas cuando el mause esta por encima */
#arrows:hover polygon {
    fill: #770909;
}
#arrows:hover .bottom_arrow {
    transform: translateY(-18px);
}
#arrows:hover .top_arrow {
    transform: translateY(18px);
}