@import url("animations.css");

body {
    /*fondo*/
    background-image: url("res/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*-------------------------------------------------------------------------------------------------*/
    /*  inicio  */
/*-------------------------------------------------------------------------------------------------*/

#intro {
    /*ocupa toda la pantalla*/
    height: 100vh;
    margin: 0;

    /*alineamiento de elementos*/
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    /*formatos*/
    opacity: 0;
    transform: translateY(20px);
    max-width: 70%;

    /*animaciones*/

    animation-name: fade_in_down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

svg {
    /*animacion*/
    animation-name: levitation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#arrows {
    /*formatos*/
    width: 75px;
    height: 65px;
}

polygon {
    /*formatos*/
    fill: #ffffff;
    opacity: 0;
    mix-blend-mode: overlay;
    transition: all .2s ease-out;

    /*animaciones*/
    animation-name: fade_in_9;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &.arrow_middle {
        /*animaciones*/
        animation-name: fade_in_7;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &.arrow_top {
        /*animaciones*/
        animation-name: fade_in_5;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

/*hover*/

#arrows:hover polygon {
    fill: #770909;
}

#arrows:hover .arrow_bottom {
    transform: translateY(-18px);
}

#arrows:hover .arrow_top {
    transform: translateY(18px);
}

/*salida*/

#intro.out {
    /*animaciones*/
    animation-name: fade_out_up;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/*-------------------------------------------------------------------------------------------------*/
    /*  indice */
/*-------------------------------------------------------------------------------------------------*/

#index {
    /*formatos*/
    position: absolute; /* Lo saca del flujo normal */
    width: 0vw; /* 35 */
    height: 0vh; /* 60 */
    background: #FFFFFB;
    opacity: 0.75;
    border-radius: 0px;

    /*alineacion*/
    top: 50%; /* Coloca el div a la mitad de la altura */
    left: 50%; /* Coloca el div a la mitad del ancho */
    transform: translate(-50%, -50%); /* Ajusta el div para que quede perfectamente centrado */

    /*fuente*/
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 400;
    font-size: 25px;

    /*alineamiento de elementos*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#index_text {
    /*formatos*/
    position: absolute;
    opacity: 0;
    font-size: 30px;
}

#index.in {
  animation: open_index 3s ease-in forwards;
}

#index_text.in {
    animation:
        fade_in_down 2s ease-in forwards,
        move_up_index 0.5s ease-in forwards 3s;
}