#personajes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 251, 0.75);
    border-radius: 0rem;
    width: 0rem;
    height: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: add;
    overflow: hidden;
}
#personajes.clicked {
    animation: open_character_index 2s ease-in forwards;
}

#personajestitulo {
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 400;
    letter-spacing: 0.6rem;
    font-size: 2.75rem;
}

#cuadro1 {
    background: rgba(184, 28, 20, 0.75);
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#cuadro2 {
    background: rgba(88, 187, 93, 0.75);
    width: 100%;
    height: 75%;
}
#cuadro3 {
    background: rgba(129, 120, 210, 0.75);
    width: 100%;
    height: 10%;
}