#personajes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 251, 0.75);
    border-radius: 0rem;
    width: 0rem;
    height: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: add;
    overflow: hidden;
}
#personajes.clicked {
    animation: open_character_index 2s ease-in forwards;
}

#personajestitulo {
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 400;
    letter-spacing: 0.6rem;
    font-size: 2.75rem;
}

#personajesvolver {
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 1.75rem;
}

.divisor {
  width: 95%;
  height: 0.05rem;
  background: #000;
}

.divisorpeq {
  width: 94%;
  height: 0.05rem;
  background: #000;
}

.divisorvac {
  width: 60%;
  height: 0.05rem;
}

.personaje {
    background: rgba(241, 237, 2, 0.75);
    width: 100%;
    height: 8rem;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    /* Fuente */
    font-family: "Averia Serif Libre", serif;
    text-shadow: -0rem 0rem 0.125rem #000000;
    font-weight: 200;
    letter-spacing: 1rem;
    font-size: 1.8rem;
}

.nombrepers {
    width: 100%;
}

.imgcontainer {
    padding-left: 4.47916rem;
    padding-right: 4.47916rem;
}

.imgpers {
    width: 18rem;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Orden de Aparición: Cuadro 1, Cuadro 3, Cuadro 2.*/

#cuadro1 {
    background: rgba(184, 28, 20, 0.75);
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#cuadro2 {
    background: rgba(88, 187, 93, 0.75);
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cuadro3 {
    background: rgba(129, 120, 210, 0.75);
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}